*{
    box-sizing: border-box;
}
#holder{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
#profile__img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.slack{
    display:none;
}
a {
    text-decoration: none;
}

#links_holder{
    display: flex;
    flex-direction: column;
    width:min-content
}
#links_holder button{
    border: 1px solid rgb(179, 177, 177);
    padding:1.5em;
    width:550px;
    margin: 1em;
    border-radius: 10px;
}

#logo_holder img{
    padding: 10px;
}

#footer_holder{
    width:100%;
    display: flex;
    justify-content: center; 
}

#footer_holder img{
    padding:35px;
}

@media (min-width: 768px) {
  .link {
    width: 100%;
  }
}
/* @media (min-width: 576px) {
  #holder {
    max-width: 540px;
  }
} */