* {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#holder {
    /* width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; */

    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

#profile__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.slack {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}
button:hover{
    background-color:white;
}

#links_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#links_holder button {
    border: none;
    padding: 1.5em;
    width: 80%;
    margin: 1em;
    border-radius: 10px;
    
}
#logo_holder{
    display: flex;
    justify-content: center;
}
#logo_holder img {
    padding: 10px;
    
}

#footer_holder {
    display: flex;
    justify-content:space-between;
    padding-top: 5em;
    
}

#footer_holder img {
    padding: 15px;
    width: auto;
    height: auto;
}


@media screen and (max-width: 600px) {
  #footer_holder {
    flex-direction:column;
    }
    #footer_holder img {
    object-fit: contain;
    width: 50%;
}
}

